@charset "UTF-8";

@font-face {
    font-family: insanibc;
    src: url(Insanibc.ttf) format(TrueType);
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-titulo: insanibc, cursive;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;


    --cor1: #dedede;
    --cor2: #818181ab;
    --cor3: #252525ab;
}
*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
}

header{
    background-color: var(--cor3);
    height: 14vw;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.58);
    margin-bottom: 20px;
}

header>h1 {
    font-family: var(--font-titulo);
   font-size: 7vw;
   text-align: center ;
   padding: 20px;
}



mark {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 1px;
}



.cap18 h1{
    font-size: 5vw;
    text-align: center ;
font-family: var(--font-titulo);
}

.cap18 h2{
    font-size: 3.8vw;
    text-decoration: none;
}

.cap18 h3{
    font-size: 3.8vw;
    text-align: center;

}

.cap18 p{
font-size: 1em;
line-height: 2em;
padding: 20px;
}

.cap18 ul{
    padding:20px;
 text-decoration: underline var(--cor3);
}

.cap18 ul > img{
    box-shadow: none;
    border: none;
    padding: 0px;
}






.cap19 h1{
    font-size: 5vw;
    text-align: center ;
font-family: var(--font-titulo);
}

.cap19 h2{
    font-size: 3.8vw;
    text-decoration: none;
    font-family: var(--font-titulo);
}

.cap19 h3{
    font-size: 3.8vw;
    text-align: center;
font-family: var(--font-titulo);
}

.cap19 p{
font-size: 1em;
line-height: 2em;
padding: 20px;
font-family: var(--font-padrao);
}

.cap19 ul{
    padding:20px;
 text-decoration: underline var(--cor3);
}





img{
 width: 200px;
}




hr {
    height: 7px;
    background-color: black;
    border-color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.614);
}

#container{
background-image: url(target001.png);
background-size: 100% 100%;
background-color: blueviolet;
height: 400px;
width: 300px;
padding: 10px;
position: relative;
}

#conteudo{
background-image: url(target001.png);
background-size: 100% 100%;
background-color: #ffef15;
height: 200px;
width: 150px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}