@charset "UTF-8";

@font-face{
    font-family: insanibc;
    src: url(Insanibc.ttf) format(TrueType);
    font-weight: normal;
    font-style: normal;
}

:root{
    --font-titulo: insanibc, cursive;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;


    --cor1:  #ffef15;
    --cor2:  #fff783ab;  
    --cor3:  #a9a356ab; 
}

body{
    background-color: var(--cor1);
}

header > h1{
    font-family: var(--font-titulo);
    font-size: 3.5em;
    text-align: center;
    letter-spacing: 0.5em;
}

header > p{
    font-family: var(--font-padrao);
    font-size: 1em;
    text-align: justify;
   
}

mark{
  background-color: var(--cor3);
  border-radius: 5px;
}

main{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.413);
    min-width: 300px;
    max-width: 1000px;
  padding: 30px;
  margin: auto;
  margin-top: 60px;
  border-radius: 10px ;
  background-color: #c1b5174f;
}



main >h1{
    font-family: var(--font-titulo);
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.2em;
}

main > p{
    font-family: var(--font-padrao);
    font-size: 1em;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
}

main > h2{
    font-family: var(--font-titulo);
    font-size: 1.5em;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration:underline;
    letter-spacing: 0.1em;
}

main > ul{
    font-family: var(--font-padrao);
    font-size: 1em;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;   
    list-style-type: none;
}

img{
  width: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.598);
}

h3{
    font-family: var(--font-titulo);
    font-size: 1.3em;
    text-align: justify;
    letter-spacing: 0.5em;
    margin-top: 40px;
}

hr{
    height: 7px;
  background-color:black;
 border-color: black;
 margin-top: 30px;
 margin-bottom: 30px;
 box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.614);
}

